  body {
    margin: 0;
  }

  header {
    /* background: pink; */
  }

.flex_test-box {
  background-color: #eee;     /* 背景色指定 */
  padding:  10px;             /* 余白指定 */
  display: flex;
  justify-content:center;
}

.flex_test-item{
  padding: 10px;
  color:  #fff;               /* 文字色 */
  width: 300px;
  text-align: center;
}
